<div class="grid">
  <div class="grid-row">
    <div class="grid-column">
        <atomic-m-card text="Patrick Stewart" paragraph="Teacher"></atomic-m-card>
     </div>
       <div class="grid-column">
         <atomic-m-card text="Daniel Deveraux" paragraph="Student"></atomic-m-card>
    </div>
        <div class="grid-column">
        <atomic-m-card text="Leo Petersen" paragraph="Student"></atomic-m-card>
    </div>
</div>
<div class="grid-row">
    <div class="grid-column">
        <atomic-m-card text="Patrick Stewart" paragraph="Teacher"></atomic-m-card>
     </div>
       <div class="grid-column">
         <atomic-m-card text="Truus Deveraux" paragraph="Student"></atomic-m-card>
    </div>
        <div class="grid-column">
        <atomic-m-card text="Freya Petersen" paragraph="Student"></atomic-m-card>
    </div>
   </div>
</div>
