#page-container {
  display: flex;
  flex-direction: column;
  height:100%;
  background: beige;
}

#content-wrap {
  min-height: 80vh;
  padding-bottom: 2.5rem;
}

#page-footer {
  width:100%;
  padding-top: 2.5rem;
}


@media screen and (max-width: 600px) {
  #page-container {
    position: relative;
    min-height: 100vh;
  }

  #content-wrap {
    padding-bottom: 2.5rem;
  }

  #page-footer {
    padding-top: 2rem;
  }

}
