#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  min-height: 100vh;
  padding-bottom: 2.5rem;
}

#page-footer {
  padding-top: 2.5rem;
}


@media screen and (max-width: 600px) {
  #page-container {
    position: relative;
    min-height: 100vh;
  }

  #content-wrap {
    padding-bottom: 2.5rem;
  }

  #page-footer {
    padding-top: 2rem;
  }

}
