<!--The content below is only a placeholder and can be replaced.-->

<!-- <h1> Welcome to Atomic design Tutorial</h1>
<p>Atoms</p>

<atomic-m-search></atomic-m-search>


https://github.com/FortAwesome/angular-fontawesome


<atomic-a-header text="H1" type="h1" color="black"></atomic-a-header>

<atomic-a-header text="H2" type="h2" color="black"></atomic-a-header>

<atomic-a-header text="H3" type="h3" color="black"></atomic-a-header>

<atomic-a-header text="H4" type="h4" color="black"></atomic-a-header>

<atomic-a-header text="H5" type="h5" color="black"></atomic-a-header>

<atomic-a-header text="H6" type="h6" color="black"></atomic-a-header>

<atomic-a-image url="../../../assets/images/angular-logo.png" size="500"></atomic-a-image>

<atomic-a-button type="button" text="rode button" backgroundColor="red" textColor="blue"></atomic-a-button>

<atomic-a-button type="button" text="blauwe button" backgroundColor="blue"></atomic-a-button>

<atomic-a-button type="button" text="groene button" backgroundColor="green"></atomic-a-button>

<atomic-a-button type="button" text="rode button" backgroundColor="red"></atomic-a-button>

<atomic-a-button type="button" text="oranje button" backgroundColor="orange"></atomic-a-button>

<atomic-a-input value="test" placeholder="search"></atomic-a-input>
<atomic-a-input placeholder="Name"></atomic-a-input>

<atomic-m-search></atomic-m-search>

<br><br><br><br><br><br><br><br><br>


<atomic-a-image url="../../../assets/images/placeholder-logo.png" size="150"></atomic-a-image> -->
<atomic-a-icon icon="adress" textSize="size-md" color="red"></atomic-a-icon>
<atomic-a-icon icon="bookmark" textSize="size-md" color="blue"></atomic-a-icon>
<atomic-a-icon icon="information" textSize="size-md" color="green"></atomic-a-icon>
<atomic-a-icon icon="comment" textSize="size-md" color="gray"></atomic-a-icon>

<!-- <atomic-o-gridcard></atomic-o-gridcard>
<atomic-o-gridcard></atomic-o-gridcard>
<atomic-o-gridcard></atomic-o-gridcard> -->

<atomic-o-footer></atomic-o-footer>
<router-outlet></router-outlet>
