#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.4rem;
}


@media only screen and (max-width: 600px) {
  #page-container {

    position: relative;
    padding-top: 6em;
    min-height: 100vh;
  }

  #content-wrap {
    padding-bottom: 2.4rem;

  }
}
