<div class="contact-container">
  <div class="contact-left-side">
    <div id="contact-information">
      <atomic-a-header text="Contact" type="h1"></atomic-a-header>
      <atomic-a-text text="Atomic Design in Angular"></atomic-a-text>
      <atomic-a-text text="Practising Angular with Atomic design"></atomic-a-text>
      <atomic-a-text text="Leo Hetterscheid (Deadelous)"></atomic-a-text>
    </div>
      <div id="contact-location">
        <atomic-a-header text="Location" type="h1"></atomic-a-header>
        <atomic-a-text text="LocationPlace"></atomic-a-text>
        <atomic-a-text text="Locationadress"></atomic-a-text>
        <atomic-a-text text="Locationemail"></atomic-a-text>
      </div>
  </div>
    <div class="contact-right-side">
     <atomic-m-contactform></atomic-m-contactform>
    </div>
</div>
