<input type="text" placeholder="name" [(ngModel)]="atomicName">
    <input type="text" placeholder="description" [(ngModel)]="atomicDescription">
    <br>
    <br>
    <br>
<div class="table">
  <table id="atomic-list">
      <thead>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
        <td>Remove</td>
        </thead>
        <tbody *ngFor="let item of items | filter: atomicName : atomicDescription">
          <tr>
          <td >{{item?.id}} </td>
          <td [routerLink]="['/atomics/', item.id]">{{item?.name}}</td>
          <td>{{item?.description}}</td>
            <td><button id="remove" (click)="delete(item)">DELETE ROW</button></td>
        </tr>
   </tbody>
</table>
