<input type="text" placeholder="name" [(ngModel)]="atomicName">
    <input type="text" placeholder="category" [(ngModel)]="atomicCategory">
    <br>
    <br>
    <br>
<div class="table">
  <table id="atomic-list">
      <thead>
        <td>Id</td>
        <td>Name</td>
        <td>Category</td>
        </thead>
        <tbody>
          <tr *ngFor="let item of items | filter: atomicName : atomicCategory" [routerLink]="['/atomics/', item.id]">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.category}}</td>
        </tr>
   </tbody>
</table>
