<div class="navbar">
  <div class="navbar-left">
<atomic-a-icon class="navbar-icon" icon="adress" color="white"></atomic-a-icon>
 <atomic-a-header text="Angular Atomic Design" type="h2" color="white"></atomic-a-header>
  </div>
  <div class="navbar-center">
       <ul class="navbar-list">
           <atomic-a-ul text="Atoms" link="#"></atomic-a-ul>
           <atomic-a-ul text="Molecules" link="#"></atomic-a-ul>
           <atomic-a-ul text="Organisms" link="#"></atomic-a-ul>
           <atomic-a-ul text="Template" link="#"></atomic-a-ul>
         </ul>
   </div>
   <div class="navbar-right">
    <atomic-m-search class="input"></atomic-m-search>
</div>
