input {
  width: 70%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

input:required {
  border: 1px solid green;
}
input:required:invalid {
  border: 1px solid red;
}

.color-black {
  color:black;
}

.color-red {
  color:#d22727;
}

