input {
  width: 100%;
  border: 1px solid #00B4CC;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.input-black {
  border: 1px solid black;
}

.color-black {
  color:black;
}

.color-red {
  color:#d22727;
}

