<div class="form-description">
  <atomic-a-header text="Create a new Atomic - Atom - Molecule or Organism" type="h1"></atomic-a-header>
</div>
<div class="form">
   <form (ngSubmit)="submitAtomic()" novalidate>
     <div *ngIf="validMessage != ''">
       <atomic-a-header text="{{validMessage}}" type="h2"></atomic-a-header>
     </div>
    <div class="form-input">
      <atomic-a-header text="Name"></atomic-a-header>
      <atomic-a-input type="text" [group]="atomicForm" formName="name" required autofocus></atomic-a-input>
    </div>
    <div class="form-input">
      <atomic-a-header text="Description"></atomic-a-header>
      <atomic-a-input type="text" [group]="atomicForm" formName="description" required></atomic-a-input>
    </div>
     <div class="form-button">
     <button type="submit">Submit</button>
     </div>
  </form>
</div>
