<atomic-a-header id="title" text="Welcome at Atomic Design in Angular" type="h1"></atomic-a-header>
    <div id="content-wrap">
     <atomic-a-text color="black" text="Atomic Design is a methodology that involves breaking a website layout down into its basic components, which are then reused throughout the site . "></atomic-a-text>
     <atomic-a-text color="black" text="Brad Frost introduced the concept of atomic design"></atomic-a-text>
     <atomic-a-text color="black" text="We’re not designing pages, we’re designing systems of components.—Stephen Hay" fontstyle="italic"></atomic-a-text>

     <atomic-a-text color="black" text="To understand Atomic Design by Brad Frost better, you can see in this webapplication the five distinct levels in atomic design."></atomic-a-text>
     <atomic-a-text color="black" text="The levels of Atomic of Design are:"></atomic-a-text>

    <div class="levels">
     <atomic-a-link link="/atoms" text="Atoms"></atomic-a-link>
     <atomic-a-link link="/molecules" text="Molecules"></atomic-a-link>
     <atomic-a-link link="/organisms" text="Organisms"></atomic-a-link>
     <atomic-a-link link="" text="Templates"></atomic-a-link>
     <atomic-a-link link="" text="Pages"></atomic-a-link>
    </div>

     <atomic-a-text color="black" text="This project has been made with the Angular-CLI 8.1.2"></atomic-a-text>
     <atomic-a-exlink link="https://github.com/Deadelous/Angular-Atomic-Design" text="Git respository of this project"></atomic-a-exlink>

   </div>

