button, a {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  text-decoration: none;
  cursor: pointer;
  height: 30px;
  padding: 0;
}

.background-color-red {
  background-color:#F32D03;
}

.background-color-blue {
  background-color:#0362F3;
}

.background-color-green {
  background-color:#13F303;
}


.background-color-transparent{
  background-color: transparent;
}
