.footer {
  display: flex;
  width:100%;
}

.icons {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  padding-top: 2%;
  width: 33%;
}

.icon-direction {
  padding-left: 50px;
}

.footer-title {
  justify-content: flex-start;
  text-align: center;
  width:38%;
  right:0;
  left:0;
  bottom: 0;
}

.footer-information {
  padding-top: 50px;
  padding-left: 20px;
  justify-content: flex-end;
  width:38%;
}

.backgroundcolor-black {
  background-color: #333;
}

.backgroundcolor-green {
  background-color: #c5d8b2
}

@media screen and (max-width: 800px) {
  .footer {
    position: static;
 }
}
