<footer class="footer" [ngClass]="[footerColor]">
    <div class="footer-title">
        <atomic-a-header text="Practicing Angular with Atomic Design" type="h1" color="white"></atomic-a-header>
    </div>
  <div class="icons">
    <div class="icon-direction">
    <atomic-a-icon icon="adress" textSize="size-xs"></atomic-a-icon>
    </div>
    <div class="icon-direction">
    <atomic-a-icon icon="bookmark" textSize="size-xs"></atomic-a-icon>
    </div>
    <div class="icon-direction">
    <atomic-a-icon icon="information" textSize="size-xs"></atomic-a-icon>
    </div>
  </div>
  <div class="footer-information">
    <atomic-a-paragraph text="Angular Project where you can read more information about Atomic Design" color="white"></atomic-a-paragraph>
  </div>
</footer>
