<div class="navbar" [ngClass]="[navbarColor]">
  <div class="navbar-left">
 <atomic-a-header [link]="['/home']" text="Angular Atomic Design"  type="h2" color="white"></atomic-a-header>
  </div>
  <div class="navbar-center">
       <ul class="navbar-list">
           <atomic-a-ul text="Atoms" [link]="['/atoms']"></atomic-a-ul>
           <atomic-a-ul text="Molecules" [link]="['/molecules']"></atomic-a-ul>
           <atomic-a-ul text="Atomics" [link]="['/atomics']"></atomic-a-ul>
           <atomic-a-ul text="Contact" [link]="['/contact']"></atomic-a-ul>
         </ul>
   </div>
   <div class="navbar-right">
    <atomic-m-search class="input"></atomic-m-search>
</div>
